body {
    font-family: sans-serif;
    background: #161618;
}

strong {
    color: #1cb992
}

em {
    color: #ee4d2e
}

img:not(.logo) {
    max-height: 24rem;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
