body {
    font-family: sans-serif;
    background: #1a1919;
}

strong {
    color: #1cb992
}

em {
    color: #ee4d2e
}

img:not(.logo) {
    max-height: 24rem;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.body.dark {
    background: #1a1919;
    padding-top: 0;
    padding-bottom: 0;
}